.endpoint-table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.docs-title {
  text-align: center;
}
.docs-intro {
  text-align: center;
}

.method {
  color: rgb(222, 88, 88);
}

.endpoints {
  margin: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

.methods-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
